.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  margin-top: 60px;
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

.main.sidebar-open {
  margin-left: 270px;
}

@media (max-width: 768px) {
  .main.sidebar-open {
    margin-left: 0;
  }
}
