.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  margin-top: 60px; /* Altura aproximada del header */
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

.main.sidebar-open {
  margin-left: 270px; /* Se sincroniza con el padding del header */
}
