/* ===================== */
/* ESTILOS GENERALES DE LA APP */
/* ===================== */
.App {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  margin-top: 60px;
  transition: margin-left 0.3s ease;
  margin-left: 0;
}

@media (min-width: 769px) {
  .main.sidebar-open {
    margin-left: 250px;
  }
}

@media (max-width: 768px) {
  .main.sidebar-open {
    margin-left: 0;
  }
}


.main.sin-encabezado {
  margin-top: 0 !important;
}

/* ===================== */
/* ESTILOS PARA MODALES PERSONALIZADOS */
/* ===================== */
.custom-modal .modal-content {
  max-height: 80vh;
  overflow-y: auto;
}

.modal.show {
  z-index: 1200 !important;
}

.modal-backdrop.show {
  z-index: 1199 !important;
}

/* ===================== */
/* ESTILOS REUTILIZABLES PARA EL MODAL DE MENSAJE */
/* ===================== */

:root {
  --modal-bg-color: #f7f7f7;
  --modal-text-color: #333;
  --modal-header-bg: #e0e0e0;
  --modal-footer-bg: #e0e0e0;
  --modal-btn-bg: #555;
  --modal-btn-bg-hover: #444;
  --modal-border-radius: 8px;
  --modal-padding: 20px;
  --text-muted: #6c757d;
}

body.dark-mode {
  --modal-bg-color: #444;
  --modal-text-color: #fff;
  --modal-header-bg: #333;
  --modal-footer-bg: #333;
  --modal-btn-bg: #888;
  --modal-btn-bg-hover: #aaa;
}

.modal-mensaje .modal-content {
  background-color: var(--modal-bg-color);
  color: var(--modal-text-color);
  border-radius: var(--modal-border-radius);
  padding: var(--modal-padding);
}

.modal-mensaje .modal-header {
  background-color: var(--modal-header-bg);
  border-bottom: none;
}

.modal-mensaje .modal-footer {
  background-color: var(--modal-footer-bg);
  border-top: none;
}

.modal-mensaje .btn-primary {
  background-color: var(--modal-btn-bg);
  border-color: var(--modal-btn-bg);
}

.modal-mensaje .btn-primary:hover {
  background-color: var(--modal-btn-bg-hover);
  border-color: var(--modal-btn-bg-hover);
}

@media (max-width: 768px) {
  .modal-mensaje .modal-content {
    padding: 15px;
  }
}

/* ===================== */
/* LANDSCAPE SCROLL SOLO EN ROTACIÓN */
/* ===================== */
@media screen and (orientation: landscape) {
  html, body, #root, .App {
    height: auto;
    min-height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
  }
}
